@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

/* #19376D */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(background.svg);
  background-size: 2000px 1000px;
  background-position: -500px 0;
  animation: background 10s infinite alternate-reverse linear;
  font-family: 'Montserrat', sans-serif;
}

@keyframes background {
  to {
    background-size: 4000px 1000px;
  }
}

/* Navigation Bar */

.nav {
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 1.5px 5px rgba(0, 0, 0, .2);
}

.nav .logo h1{
  font-weight: bold;
  cursor: pointer;
}

.nav i {
  display: none;
  font-size: 1.5rem;
}

.nav .nav-items ul {
  display: flex;
}

.nav .nav-items ul li{
  list-style: none;
  margin-right: 1.5rem;
}

.nav .nav-items ul li:last-child{
  margin: 0;
}

.nav .nav-items ul a {
  text-decoration: none;
  color: #161616;
}

.nav .side-nav {
  background: #19376D;
  position: absolute;
  top: 15%;
  right: 0;
  height: 100px;
  width: 90%;
  display: none;
  transform: translateX(100%);
}

.nav .side-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav .side-nav ul li{
  list-style: none;
}

.nav .side-nav ul li a {
  text-decoration: none;
  color: #161616;
}

.header {
  height: 90vh;
  padding: 0 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .left .title {
  font-size: 3rem;
}

.header .left .sub-title {
  font-size: 1.5rem;
  color: #5f5f5f;
  margin-bottom: 1rem;
}

.header .left .desc {
  width: 70%;
}

.header .right img {
  border-radius: 50%;
  background: #19376D;
}

@media screen and (max-width:500px) {
  .nav .nav-items ul {
    display: none;
  }

  .nav i {
    display: block;
  }

  .nav .side-nav {
    display: block;
  }
}