@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

body {
  background: url(../public/background.svg);
  background-size: 2000px 100vh;
  background-position: -400px 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: background 5s infinite alternate-reverse linear;
  font-family: 'Montserrat', sans-serif;
}

@keyframes background {
  to {
    background-size: 4000px 100vh;
  }
}

/* Utility Classes */
.title-con {
  padding: 1.5rem 0;
}


.section-title {
  position: relative;
  padding-bottom: .3rem;
  display: inline-block;
  cursor: pointer;
  justify-self: start;
}

.section-title:after {
  content: "";
  width: 30%;
  height: .2rem;
  background: #19376D;
  border-radius: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all .5s;
}

.section-title:hover:after {
  width: 100%;
}

/* Navigation Bar */

.nav {
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 1.5px 5px rgba(0, 0, 0, .2);
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 5;
}

.nav .logo h1{
  font-weight: bold;
  cursor: pointer;
}

.nav .nav-items ul {
  display: flex;
}

.nav .nav-items ul li{
  list-style: none;
  margin-right: 1.5rem;
}

.nav .nav-items ul li:last-child{
  margin: 0;
}

.nav .nav-items ul li:active {
  transform: scale(.89);
}

.nav .nav-items ul a {
  text-decoration: none;
  color: #161616;
}

.nav .nav-items ul a:hover {
  color: #19376D;
  font-weight: bold;
}

.nav .menu-icon {
  display: none;
  font-size: 2rem;
  position: relative;
  z-index: 100;
}

.nav .close-icon {
  font-size: 2rem;
  position: relative;
  z-index: 100;
}

.show {
  transform: translateX(0);
  background:linear-gradient(90deg, rgba(25, 55, 109, .9) , rgba(25, 55, 109, .95)) ;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 90%;
  display: flex;
  gap: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .7s;
}

.nav .side-nav {
  background:linear-gradient(90deg, rgba(25, 55, 109, .9) , rgba(25, 55, 109, .95)) ;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 90%;
  transform: translateX(100%); 
  transition: all .7s;
  display: flex;
  gap: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.nav .side-nav .items ul,
.nav .show .items ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.nav .side-nav .items ul li,
.nav .show .items ul li{
  list-style: none;
}

.nav .side-nav .items ul li a,
.nav .show .items ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.7rem;
}

/* Hero Section */

.header {
  padding: 11.5rem 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: darkcyan; */
  margin-top: 3rem;
}

.header .left .title {
  font-size: 3rem;
}

.header .left .title span {
  background: linear-gradient(90deg, #3776eb, #19376d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header .left .sub-title {
  font-size: 1.5rem;
  color: #5f5f5f;
  margin-bottom: 1rem;
}

.header .left .desc {
  width: 70%;
  font-size: 1.2rem;
}

.header .right img {
  width: 250px;
  height: 250px;
  rotate: 5deg;
  object-fit: contain;
  border-radius: 50%;
  background: linear-gradient(90deg, #19376D , #3776eb);
  outline: #000 3px solid;
  outline-offset: 5px;
  /* animation: out 2s linear infinite alternate-reverse; */
}

/* @keyframes out{
  from {
    outline-offset: 1px;
  }
  to {
    outline-offset: 10px;
  }
} */

/* About Section */

.about {
  padding: 12rem 3rem ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about .about-content {
  width: 80%;
  text-align: justify;
}

.about .about-content p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.about .btn {
  margin-top: 1.5rem;
}

.about .btn a {
  text-decoration: none;
  color: #fff;
  background: linear-gradient(90deg, #19376d, #3776eb);
  padding: .5rem 1rem;
  border-radius: 3px;
}

.about .btn:active {
  transform: translateY(2px);
}

.about .btn a:hover {
  color: #b2b2b2;
}

/* Skills Section */

.skills {
  padding: 5rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills-container {
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skills-card {
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: .3rem;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  flex-grow: 1;
}

.skills-card:hover {
  transform: translateY(-5px);
}

.skills-card i {
  font-size: 6rem;
}

/* Projects Section */

.projects {
  padding: 5rem 3rem 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.project-card {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
  transform: scale(.9);
  transition: all .5s;
  border-bottom: 5px solid #19376D;
}

.project-card:hover {
  transform: scale(.97);
}

.project-card .top img{
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.project-card .bottom {
  padding: 2rem .5rem;
  text-align: center;
}

.project-card .bottom .desc {
  margin: .2rem auto 0;
  width: 100%;
}

.project-card .bottom .desc p {
  opacity: .5;
}

.project-card .bottom .icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.project-card .bottom .icons i {
  color: #19376D;
}

.project-card .bottom .icons i:hover {
  color: #484848;
}

.project-card .bottom .tech {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  margin-top: 1rem;
}

.project-card .bottom .tech p {
  opacity: .5;
}

/* Contact Section */

.contact {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-container {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .1), -2px -2px 3px rgba(0, 0, 0, .1);
  padding: 3rem 7rem;
  margin-top: 2rem;
}

.contact-container i {
  color: #19376D;
}

.contact-container .address,
.contact-container .mail,
.contact-container .phone {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}


.contact-container .address,
.contact-container .mail a,
.contact-container .phone a {
  text-decoration: none;
  color: #777;
}

.contact-container .social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}


@media screen and (max-width:560px) {
  .nav .nav-items ul {
    display: none;
  }

  .nav .menu-icon {
    display: block;
  }

  .header {
    flex-direction: column;
    padding: 2rem 1.5rem;
  }

  .header .left {
    order: 1;
    text-align: center;
  }

  .header .left .desc {
    width: 100%;
    padding: 0 1rem;
  }

  .header .right {
    margin-bottom: 2rem;
  }

  .about {
    padding: 2rem 1.5rem;
  }

  .about .about-content {
    width: 100%;
    text-align: center;
  }

  .contact-container {
    padding: 3rem 2rem;
  }
}

@media screen and (max-width:760px) {
  .nav .nav-items ul li{
    margin-right: 1rem;
  }

  .header {
    padding: 7rem .5rem;
  }

  .about {
    padding: 3rem 1.5rem 4rem;
  }

  /* .about .about-content {
    text-align: center;
  } */
} 