@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

/* #19376D */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

body {
  background: url(background.svg);
  background-size: 2000px 100vh;
  background-position: -400px 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: background 10s infinite alternate-reverse linear;
  font-family: 'Montserrat', sans-serif;
}

@keyframes background {
  to {
    background-size: 4000px 100vh;
  }
}

/* Utility Classes */
.title-con {
  padding: 1.5rem 0;
}


.section-title {
  position: relative;
  padding-bottom: .3rem;
  display: inline-block;
  cursor: pointer;
  justify-self: start;
}

.section-title:after {
  content: "";
  width: 30%;
  height: .2rem;
  background: #19376D;
  border-radius: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all .5s;
}

.section-title:hover:after {
  width: 100%;
}

/* Navigation Bar */

.nav {
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 1.5px 5px rgba(0, 0, 0, .2);
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 5;
}

/* .nav2 {padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 1.5px 5px rgba(0, 0, 0, .2);
  position: fixed;
  top: 0;
  width: 100%;
  background: red;
  z-index: 5;
} */

.nav .logo h1{
  font-weight: bold;
  cursor: pointer;
}

.nav .nav-items ul {
  display: flex;
}

.nav .nav-items ul li{
  list-style: none;
  margin-right: 1.5rem;
}

.nav .nav-items ul li:last-child{
  margin: 0;
}

.nav .nav-items ul li:active {
  transform: scale(.89);
}

.nav .nav-items ul a {
  text-decoration: none;
  color: #161616;
}

.nav .nav-items ul a:hover {
  color: #19376D;
  font-weight: bold;
}

.nav .menu-icon {
  display: none;
  font-size: 2rem;
}

.nav .side-nav {
  background: #19376D;
  position: absolute;
  top: 15%;
  right: 0;
  height: 100px;
  width: 90%;
  display: none;
  transform: translateX(100%);
}

.nav .side-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav .side-nav ul li{
  list-style: none;
}

.nav .side-nav ul li a {
  text-decoration: none;
  color: #161616;
}

/* Hero Section */

.header {
  padding: 11.5rem 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: darkcyan; */
  margin-top: 3rem;
}

.header .left .title {
  font-size: 3rem;
}

.header .left .title span {
  background: linear-gradient(90deg, #3776eb, #19376D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header .left .sub-title {
  font-size: 1.5rem;
  color: #5f5f5f;
  margin-bottom: 1rem;
}

.header .left .desc {
  width: 70%;
  font-size: 1.2rem;
}

.header .right img {
  border-radius: 50%;
  background: linear-gradient(90deg, #19376D , #3776eb);
  outline: #000 3px solid;
  outline-offset: 5px;
  animation: out 2s linear infinite alternate-reverse;
}

@keyframes out{
  from {
    outline-offset: 1px;
  }
  to {
    outline-offset: 10px;
  }
}

/* About Section */

.about {
  padding: 12rem 3rem ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background: darkgreen; */
}

.about .about-content {
  width: 80%;
  text-align: justify;
}

.about .about-content p {
  font-size: 1.2rem;
  line-height: 1.5;
}

/* Skills Section */

.skills {
  padding: 5rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background: bisque; */
}

.skills-container {
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skills-card {
  padding: 2rem 1.5rem;
  /* background: #19376D;  */
  border-radius: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: .3rem;
  justify-content: center;
  align-items: center;
  transition: all .5s;
}

.skills-card:hover {
  transform: translateY(-5px);
}

.skills-card i {
  font-size: 6rem;
}

/* Projects Section */

.projects {
  padding: 5rem 3rem 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background: bisque; */
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.project-card {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
  transform: scale(.9);
  transition: all .5s;
  border-bottom: 5px solid #19376D;
}

.project-card:hover {
  transform: scale(.97);
}

.project-card .top img{
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.project-card .bottom {
  padding: 2rem .5rem;
  text-align: center;
}

.project-card .bottom .desc {
  margin: .2rem auto 0;
  width: 100%;
}

.project-card .bottom .desc p {
  opacity: .5;
}

.project-card .bottom .icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.project-card .bottom .icons i {
  transition: all .2s;
  color: #19376D;
}

.project-card .bottom .icons i:hover {
  transform: scale(1.2);
}

.project-card .bottom .tech {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  margin-top: 1rem;
}

.project-card .bottom .tech p {
  opacity: .5;
}

@media screen and (max-width:560px) {
  .nav .nav-items ul {
    display: none;
  }

  .nav .menu-icon {
    display: block;
  }

  .nav .side-nav {
    display: block;
  }

  .header {
    flex-direction: column;
    padding: 2rem 1.5rem;
  }

  .header .left {
    order: 1;
    text-align: center;
  }

  .header .left .desc {
    width: 100%;
  }

  .header .right {
    margin-bottom: 2rem;
  }

  .about {
    padding: 2rem 1.5rem;
  }

  .about .about-content {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width:760px) {
  .nav .nav-items ul li{
    margin-right: 1rem;
  }

  .header {
    padding: 7rem .5rem;
  }

  .about {
    padding: 3rem 1.5rem 4rem;
  }

  .about .about-content {
    text-align: center;
  }
} 